<link rel="stylesheet" href="../css/styleMain.css">
<a href="/reason"><button id="button"><h3>Найти повод!!!</h1></button>
<canvas id="myCanvas" width="500" height="500"></canvas>

<script src="/js/but.js"></script>

